/*style sheet for assignments widget*/

.main {
  margin: 10px;
}

.selected {
  background-color: #1d70c4;
}

div.assignment-header {
  margin-left: 40px;
}

div.assignment-header .add-assignment{
  float:right;
}

li.selected h4 {
  color: #fff;
}

li.selected h5 {
  color:#fff;
}

li.assignment {
  list-style-type: none;
  border: 1px solid #B8BDBF;
  padding: 10px;
}

li.assignment:hover {
  background-color: #609BD6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

ul.assignment-widget {
  margin: 0;
}

.assignment-details {
  margin-top: 3.9em;
}

.select-message {
  height: 17em;
  position: relative;
}

.select-message h4 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  margin-right: -50%;
}

.submission-avatars {
  float:left;
}

.loader-modal {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}

.loader-modal .loader {
  color: #1d70c4;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 10001;
}

/* foundation overrides */

.tabs dd.active > a, .tabs .tab-title.active > a {
    background-color: #1d70c4!important;
    color: #fff!important;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.accordion .accordion-navigation > a, .accordion dd > a {
  border-bottom: 1px solid #B8BDBF;
}

.accordion .accordion-navigation > a, .accordion dd > a {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}